    <div class="table-responsive shadow">
      <div class="table-wrapper">
          <div class="row">
            
            <div class="col input-group">
              <div>
                <button type="button" class="btn btn-outline-primary" (click)="toggleModal()"><i class="fa-solid fa-plus"></i>&nbsp;<span>Add</span></button>
              </div>
              <div style="margin-left: 5px;">
                <input type="search" class="form-control" [(ngModel)]="Companies" (keyup)="searchCompany()" placeholder="Search">
              </div>
              <span class="input-group-append">
                <button type="button" class="btn btn-outline-info" (click)="searchCompany()" >
                  <i class="fas fa-search"></i>
                </button>
              </span>
            </div>
  
          </div>
          <br>
  
  
  
        <table class="table table-hover">
  
  
          <thead class="table-title">
            <tr>
              <!-- <th>No</th> -->
              <th>Name</th>
              <th style="text-align: end;">Actions</th>
              <!-- <th>Requestid</th>
              <th>Created_at</th> -->
            </tr>
          </thead>
  
  
  
          <tbody *ngIf="companydata.length > 0">
          <tr *ngFor="let companylist of companydata | paginate: { itemsPerPage: pageSize, currentPage: PageNumber, totalItems: totalrecord};let i = index">
            <!-- <td>{{companylist.Companyid}}</td> -->
            <td>{{companylist.Name}}</td>
            <td style="text-align: end;">
                <a href="javascript:void(0)" (click)="companyModal(companylist)" class="edit"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="javascript:void(0)" (click)="deleteCompany(companylist)" class="delete"><i class="fa-regular fa-trash-can"></i></a>
            </td>
          </tr>
         </tbody>
         <tbody *ngIf="companydata.length <= 0">
          <tr>
            <td colspan="100" class="text-center text-danger">No Match found</td>
          </tr>
        </tbody>
  
        </table>
  
        <div class="row">
          <div class="col-1" style="width: 6.6%;">
            <span class="form-group pull-left page-size form-inline"> Page Size &nbsp;
            </span>
          </div>
          <div class="col-1">
            <select id="ddlPageSize" class="form-control form-select control-color" [(ngModel)]="pageSize"
              (change)="changePageSize()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>
    
          <div class="col d-flex justify-content-end">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
          </div>      
        </div>
  
        
      </div>
    </div>




    <!-- PopUp Form -->
    <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleChange($event)">
      
      <c-modal-header>
        <h5 cModalTitle>{{frlable}} Company</h5>
      </c-modal-header>

      <form [formGroup]="companyForm" (ngSubmit)="addCompany()">

        <c-modal-body>
            <div class="form-outline mb-4">
                <label>Company Name</label>
                <input type="text" class="form-control" placeholder="Enter Company" formControlName="name"
                    [ngClass]="{ 'has-error': submitted && f['name'].errors }">
                <div *ngIf="submitted && f['name'].errors" class="has-error">
                    <div *ngIf="f['name'].errors['required']">Company name is required!</div>
                    <div *ngIf="f['name'].errors['pattern']">Please enter valid Company Name!!</div>
                </div>
            </div>
          </c-modal-body>

          <c-modal-footer>
            <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Add' && !submitbtn">{{frlable}}</button>
            <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Update' && !submitbtn">{{frlable}}</button>
            <button type="button" class="btn btn-secondary btn-block ms-2" (click)="toggleModal()">Close</button>
            <button class="btn btn-primary btn-block" *ngIf="submitbtn" [disabled]="submitbtn">
              <i class="fa-solid fa-spinner fa-spin"></i> Loading
            </button>
          </c-modal-footer>
        
      </form>

    </c-modal>