<section>
    <div class="d-flex justify-content-center">
        <div class="w-75">
                    <h2 *ngIf="title=='Add'">Add Asset</h2>
                    <h2 *ngIf="title=='Update'">Update Asset</h2>
            <div class="p-4">
                <form [formGroup]="assetForm" (ngSubmit)="addAsset()">


                    <div class="form-outline mb-4">
                        <label>Asset SerialNo</label>
                        <input type="text" class="form-control" placeholder="Enter SerialNo" formControlName="serialno"
                            [ngClass]="{ 'has-error': submitted && f['serialno'].errors }">
                        <div *ngIf="submitted && f['serialno'].errors" class="has-error">
                            <div *ngIf="f['serialno'].errors['required']">Serial No. is required!</div>
                        </div>
                    </div>



                    <div class="form-outline mb-4">
                        <label>Branch Name</label>
                        <input type="text" class="form-control" placeholder="Enter Branch" formControlName="branch"
                            [ngClass]="{ 'has-error': submitted && f['branch'].errors }">
                        <div *ngIf="submitted && f['branch'].errors" class="has-error">
                            <div *ngIf="f['branch'].errors['required']">Branch name is required!</div>
                            <!-- <div *ngIf="f['branch'].errors['pattern']">Please enter valid Branch Name!!</div> -->
                        </div>
                    </div>



                    <div class="form-outline mb-4">
                        <label>Brand Name</label>
                        <input type="text" class="form-control" placeholder="Enter Brand" formControlName="brand"
                            [ngClass]="{ 'has-error': submitted && f['brand'].errors }">
                        <div *ngIf="submitted && f['brand'].errors" class="has-error">
                            <div *ngIf="f['brand'].errors['required']">Brand name is required!</div>
                            <!-- <div *ngIf="f['brand'].errors['pattern']">Please enter valid Branch Name!!</div> -->
                        </div>
                    </div>



                    <div class="form-outline mb-4">
                        <label>Asset Type</label>
                        <input type="text" class="form-control" placeholder="Enter Type" formControlName="type"
                            [ngClass]="{ 'has-error': submitted && f['type'].errors }">
                        <div *ngIf="submitted && f['type'].errors" class="has-error">
                            <div *ngIf="f['type'].errors['required']">Asset Type is required!</div>
                            <!-- <div *ngIf="f['type'].errors['pattern']">Please enter valid Branch Name!!</div> -->
                        </div>
                    </div>



                    <div class="form-outline mb-4">
                        <label>Model Name</label>
                        <input type="text" class="form-control" placeholder="Enter Model" formControlName="model"
                            [ngClass]="{ 'has-error': submitted && f['model'].errors }">
                        <div *ngIf="submitted && f['model'].errors" class="has-error">
                            <div *ngIf="f['model'].errors['required']">Model name is required!</div>
                            <!-- <div *ngIf="f['model'].errors['pattern']">Please enter valid Branch Name!!</div> -->
                        </div>
                    </div>



                    <div class="form-outline mb-4">
                        <label>NOS</label>
                        <input type="text" class="form-control" placeholder="Enter NOS" formControlName="nos"
                            [ngClass]="{ 'has-error': submitted && f['nos'].errors }">
                        <div *ngIf="submitted && f['nos'].errors" class="has-error">
                            <div *ngIf="f['nos'].errors['required']">NOS is required!</div>
                            <!-- <div *ngIf="f['nos'].errors['pattern']">Please enter valid Branch Name!!</div> -->
                        </div>
                    </div>



                    <div class="form-outline mb-4">
                        <label>Specification</label>
                        <input type="text" class="form-control" placeholder="Enter Specification" formControlName="specification"
                            [ngClass]="{ 'has-error': submitted && f['specification'].errors }">
                        <div *ngIf="submitted && f['specification'].errors" class="has-error">
                            <div *ngIf="f['specification'].errors['required']">Specification is required!</div>
                            <!-- <div *ngIf="f['specification'].errors['pattern']">Please enter valid Branch Name!!</div> -->
                        </div>
                    </div>



                    <div class="form-outline mb-4">
                        <label>Vendor Name</label>
                        <input type="text" class="form-control" placeholder="Enter VendorID" formControlName="vendorid"
                            [ngClass]="{ 'has-error': submitted && f['vendorid'].errors }">
                        <div *ngIf="submitted && f['vendorid'].errors" class="has-error">
                            <div *ngIf="f['vendorid'].errors['required']">Vendor name is required!</div>
                            <!-- <div *ngIf="f['vendor'].errors['pattern']">Please enter valid Branch Name!!</div> -->
                        </div>
                    </div>


                    
                    <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Add'">Add</button>
                    <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Update'">Update</button>
                    
                </form>
            </div>
        </div>
    </div>
</section>

