<section>
    <div class="d-flex justify-content-center">
        <div class="w-75">
            <div class="p-4 border">

                <form [formGroup]="departmentForm" (ngSubmit)="addDepartment()">
                    <div class="form-outline mb-4 col-sm-8">
                        <label>Department Name</label>
                        <input type="text" class="form-control" placeholder="Enter Department" formControlName="name"
                            [ngClass]="{ 'has-error': submitted && f['name'].errors }">
                        <div *ngIf="submitted && f['name'].errors" class="has-error">
                            <div *ngIf="f['name'].errors['required']">Branch name is required!</div>
                            <div *ngIf="f['name'].errors['pattern']">Please enter valid Branch Name!!</div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Add'">Add</button>
                    <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Update'">Update</button>
                </form>
            </div>
        </div>
    </div>
</section>