<div class="center">
  <div class="blink" role="status" *ngIf="loader">
    <img src="./assets/images/image_2023_03_23T09_02_43_496Z.png">
  </div>
</div>


<div class="table-responsive shadow" *ngIf="!loader">
    <div class="table-wrapper">


      <table class="table table-hover">


        <!-- <tbody>
            <tr>SerialNo</tr>
            <tr>Branch</tr>
            <tr>Brand</tr>
            <tr>Type</tr>
            <tr>Quantity</tr>
            <tr>Specification</tr>
            <tr>CreatedAt</tr>
            <tr>Vendor</tr>
            <tr>Actions</tr>
        </tbody> -->



        <tbody *ngIf="assetdata.length > 0">
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Status</td>
            <td style="background-color: whitesmoke;">
              <c-badge *ngIf="assetlist.Status==1" color="info">
                {{assetlist.StatusName}}
              </c-badge>
              <c-badge *ngIf="assetlist.Status==2" color="success">
                {{assetlist.StatusName}}
              </c-badge>
              <c-badge *ngIf="assetlist.Status==3" color="secondary">
                {{assetlist.StatusName}}
              </c-badge>
              <c-badge *ngIf="assetlist.Status==4" color="danger">
                {{assetlist.StatusName}}
              </c-badge>
              <c-badge *ngIf="assetlist.Status==6" color="danger">
                {{assetlist.StatusName}}
              </c-badge>
              <c-badge *ngIf="assetlist.Status==7" color="warning">
                {{assetlist.StatusName}}
              </c-badge>
            </td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Created At</td>
            <td style="background-color: whitesmoke;">{{assetlist.Created_at | date}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Allocated Date</td>
            <td style="background-color: whitesmoke;">{{assetlist.Allocated_At | date}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Asset Serial No</td>
            <td style="background-color: whitesmoke;">{{assetlist.SerialNo}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Asset UniqueID</td>
            <td style="background-color: whitesmoke;">{{assetlist.Uid}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Allocated To</td>
            <td style="background-color: whitesmoke;">{{assetlist.LastAllocated}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Branch Name</td>
            <td style="background-color: whitesmoke;">{{assetlist.Branches}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Brand Name</td>
            <td style="background-color: whitesmoke;">{{assetlist.Brand}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Asset Type</td>
            <td style="background-color: whitesmoke;">{{assetlist.TypeName}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Model Name</td>
            <td style="background-color: whitesmoke;">{{assetlist.Model}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Transfer</td>
            <td style="background-color: whitesmoke;">{{assetlist.IsTransfered}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Processor Type</td>
            <td style="background-color: whitesmoke;">{{assetlist.Processor_Type}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Monitor Type</td>
            <td style="background-color: whitesmoke;">{{assetlist.Monitor_Type}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Range Type</td>
            <td style="background-color: whitesmoke;">{{assetlist.Range_Type}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Battery Type</td>
            <td style="background-color: whitesmoke;">{{assetlist.Battery_Type}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Battery Ampere</td>
            <td style="background-color: whitesmoke;">{{assetlist.Battery_Ampere}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Battery Capacity</td>
            <td style="background-color: whitesmoke;">{{assetlist.Battery_Capacity}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Graphics Crad</td>
            <td style="background-color: whitesmoke;">{{assetlist.GraphicsCard}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Optical Drive</td>
            <td style="background-color: whitesmoke;">{{assetlist.Optical_Drive}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">HDD</td>
            <td style="background-color: whitesmoke;">{{assetlist.HDD}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">RAM</td>
            <td style="background-color: whitesmoke;">{{assetlist.RAM}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Inches</td>
            <td style="background-color: whitesmoke;">{{assetlist.Inches}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Port Switch</td>
            <td style="background-color: whitesmoke;">{{assetlist.Port_Switch}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Specification</td>
            <td style="background-color: whitesmoke;">{{assetlist.Specification}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Vendor Name</td>
            <td style="background-color: whitesmoke;">{{assetlist.Vendors}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Invoice Date</td>
            <td style="background-color: whitesmoke;">{{assetlist.InvoiceDate | date}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Warranty Till</td>
            <td style="background-color: whitesmoke;">{{assetlist.Warranty_Till | date}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Invoice No</td>
            <td style="background-color: whitesmoke;">{{assetlist.Invoice_No}}</td>
          </tr>
          <tr *ngFor="let assetlist of assetdata">
            <td class="table-title">Location</td>
            <td style="background-color: whitesmoke;">{{assetlist.LocationName}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="assetdata.length <= 0">
          <tr>
            <td colspan="100" class="text-center text-danger">No Match found</td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>




<!-- Transfer asset details -->
<div style="background: whitesmoke;
            color: #002e7c;
            padding: 16px 30px;
            margin: -5px -25px -10px;
            border-radius: 3px 3px 0 0;">
  <h4 style="text-shadow: 2px 2px lightgray; margin-top: 5px;">Asset Transfer History</h4>


<div class="table-responsive shadow" *ngIf="!loader">
  <div class="table-wrapper">


    <table class="table table-hover">


      <thead class="table-title">
        <tr>
          <th style="width: 40%;">Transfer From</th>
          <th style="width: 30%;">Description</th>
          <th style="width: 20%;">Transfer Date</th>
        </tr>
      </thead>



      <tbody *ngIf="transferassetdata.length > 0">
        <tr
          *ngFor="let transferlist of transferassetdata">
          <td>{{transferlist.TrfBranchName}}</td>
          <td>{{transferlist.Description}}</td>
          <td>{{transferlist.Transferd_at | date}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="transferassetdata.length <= 0">
        <tr>
          <td colspan="100" class="text-center text-danger">No Match found</td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
</div>