<section class="border">
    <div class="d-flex justify-content-center">
        <div class="w-100">
            <div class="p-4">
                <form [formGroup]="assetForm" (ngSubmit)="addAsset()">


                    <div class="row">
                        <div class="col form-outline mb-4">
                            <label>Asset SerialNo</label>
                            <input type="text" class="form-control" placeholder="Enter SerialNo" formControlName="serialno"
                                [ngClass]="{ 'has-error': submitted && f['serialno'].errors }">
                            <div *ngIf="submitted && f['serialno'].errors" class="has-error">
                                <div *ngIf="f['serialno'].errors['required']">Serial No. is required!</div>
                            </div>
                        </div>



                        <div class="col form-outline mb-4">
                            <label>Branch Name</label>
                            <select type="text" class="form-control form-select" formControlName="branch"
                                [ngClass]="{ 'has-error': submitted && f['branch'].errors }">
                                <option value="">select Branch</option>
                                <option [ngValue]="branches.branchid" *ngFor="let branches of branchlistdata">
                                    {{branches.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f['branch'].errors" class="has-error">
                                <div *ngIf="f['branch'].errors['required']">Branch name is required!</div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col form-outline mb-4">
                            <label>Brand Name</label>
                            <input type="text" class="form-control" placeholder="Brand Must Be in Capital Latters" formControlName="brand"
                                [ngClass]="{ 'has-error': submitted && f['brand'].errors }">
                            <div *ngIf="submitted && f['brand'].errors" class="has-error">
                                <div *ngIf="f['brand'].errors['required']">Brand name is required!</div>
                                <div *ngIf="f['brand'].errors['pattern']">Please enter Capital latters only!!</div>
                            </div>
                        </div>



                        <div class="col form-outline mb-4">
                            <label>Asset Type</label>
                            <select type="text" class="form-control form-select" formControlName="type"
                                [ngClass]="{ 'has-error': submitted && f['type'].errors }">
                                <option value="">select Asset Type</option>
                                <option [ngValue]="types.typeid" *ngFor="let types of typelistdata">
                                    {{types.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f['type'].errors" class="has-error">
                                <div *ngIf="f['type'].errors['required']">Asset Type is required!</div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col form-outline mb-4">
                            <label>Model Name</label>
                            <input type="text" class="form-control" placeholder="Enter Model" formControlName="model"
                                [ngClass]="{ 'has-error': submitted && f['model'].errors }">
                            <div *ngIf="submitted && f['model'].errors" class="has-error">
                                <div *ngIf="f['model'].errors['required']">Model name is required!</div>
                            </div>
                        </div>



                        <div class="col form-outline mb-4">
                            <label>Quantity</label>
                            <input type="text" class="form-control" placeholder="Enter Quantity" formControlName="nos"
                                [ngClass]="{ 'has-error': submitted && f['nos'].errors }">
                            <div *ngIf="submitted && f['nos'].errors" class="has-error">
                                <div *ngIf="f['nos'].errors['required']">Quantity is required!</div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col form-outline mb-4">
                            <label>Specification</label>
                            <input type="text" class="form-control" placeholder="Enter Specification" formControlName="specification"
                                [ngClass]="{ 'has-error': submitted && f['specification'].errors }">
                            <div *ngIf="submitted && f['specification'].errors" class="has-error">
                                <div *ngIf="f['specification'].errors['required']">Specification is required!</div>
                            </div>
                        </div>
                    
                    
                    
                        <div class="col form-outline mb-4">
                            <label>Vendor Name</label>
                            <select type="text" class="form-control form-select" formControlName="vendorid"
                                [ngClass]="{ 'has-error': submitted && f['vendorid'].errors }">
                                <option value="">select Vendor</option>
                                <option [ngValue]="vendors.vendorid" *ngFor="let vendors of vendorlistdata">
                                    {{vendors.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f['vendorid'].errors" class="has-error">
                                <div *ngIf="f['vendorid'].errors['required']">Vendor name is required!</div>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Add'">Add</button>
                        <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Update'">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

