    <div class="table-responsive">
      <div class="table-wrapper">
          <div class="row">
  
            <div class="col input-group">
              <div>
                <input type="search" class="form-control form-control-sm" [(ngModel)]="Assets" (keyup.enter)="searchAsset()" placeholder="Search">
              </div>
              <span class="input-group-append">
                <button type="button" class="btn btn-outline-info btn-sm" (click)="searchAsset()" >
                  <i class="fas fa-search"></i>
                </button>
              </span>
            </div>
  
            <div class="col" align="right">
              <button type="button" class="btn btn-outline-primary btn-sm" routerLink="/base/add-asset"> <span>Add</span></button>
            </div>
  
          </div>
          <br>
  
  
  
        <table class="table table-hover">
  
  
          <thead class="table-title">
            <tr>
              <th>SerialNo</th>
              <th>Branch</th>
              <th>Brand</th>
              <th>Type</th>
              <th>Quantity</th>
              <th>Specification</th>
              <th>Vendor</th>
              <!-- <th>Status</th>
              <th>Allocated_to</th> -->
              <th>Actions</th>
            </tr>
          </thead>
  
  
  
          <tbody *ngIf="assetdata.length > 0">
          <tr *ngFor="let assetlist of assetdata | paginate: { itemsPerPage: pageSize, currentPage: PageNumber, totalItems: totalrecord};let i = index">
            <td>{{assetlist.SerialNo}}</td>
            <td>{{assetlist.Branches}}</td>
            <td>{{assetlist.Brand}}</td>
            <td>{{assetlist.TypeName}}</td>
            <td>{{assetlist.Nos}}</td>
            <td>{{assetlist.Specification}}</td>
            <td>{{assetlist.Vendors}}</td>
            <td>
              <a href="javascript:void(0)" routerLink="/base/edit-asset/{{assetlist.Assetid}}" class="edit"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="javascript:void(0)" (click)="deleteAsset(assetlist)" class="delete"><i class="fa-regular fa-trash-can"></i></a>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="assetdata.length <= 0">
            <tr>
              <td colspan="100" class="text-center text-danger">No Match found</td>
            </tr>
          </tbody>
  
        </table>
  
        <div class="row">
          <div class="col-2">
            <span class="form-group pull-left page-size form-inline"> Page Size &nbsp;
                <select id="ddlPageSize" class="form-control control-color" [(ngModel)]="pageSize"
                    (change)="changePageSize()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </span>
          </div>
    
          <div class="col d-flex justify-content-end">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
          </div>      
        </div>
  
  
  
  
      </div>
    </div>
