<div class="center">
  <div class="blink" role="status" *ngIf="loader">
    <img src="./assets/images/image_2023_03_23T09_02_43_496Z.png">
  </div>
</div>


<div class="table-responsive shadow" *ngIf="!loader">
  <div class="table-wrapper">
    <div class="row">

      <div class="col input-group">
        <div>
          <button type="button" class="btn btn-outline-primary" routerLink="/base/add-asset"> <i
              class="fa-solid fa-plus"></i>&nbsp;<span>Add</span></button>
        </div>
        <div style="margin-left: 5px;">
          <input type="search" class="form-control" [(ngModel)]="Assets" (keyup)="searchAsset()" placeholder="Search">
        </div>
        <span class="input-group-append">
          <button type="button" class="btn btn-outline-info" (click)="searchAsset()">
            <i class="fas fa-search"></i>
          </button>
        </span>
        <div style="margin-left: 5px;">
          <select type="text" class="form-select form-control" [(ngModel)]="branchid" (change)="searchAsset()">
            <option value="0">Filter by Branch</option>
            <option [ngValue]="branches.branchid" *ngFor="let branches of branchlistdata">
              {{branches.name}}
            </option>
          </select>
        </div>
        <div style="margin-left: 5px;">
          <select type="text" class="form-select form-control" [(ngModel)]="typeid" (change)="searchAsset()">
            <option value="0">Filter by Type</option>
            <option [ngValue]="types.typeid" *ngFor="let types of typelistdata">
              {{types.name}}
            </option>
          </select>
        </div>
        <div style="margin-left: 5px;">
          <select type="text" class="form-select form-control" [(ngModel)]="vendorid" (change)="searchAsset()">
            <option value="0">Filter by Vendor</option>
            <option [ngValue]="vendors.vendorid" *ngFor="let vendors of vendorlistdata">
              {{vendors.name}}
            </option>
          </select>
        </div>
        <div style="margin-left: 5px;">
          <select type="text" class="form-select form-control" [(ngModel)]="statusid" (change)="searchAsset()">
            <option value="0">Filter by Status</option>
            <option [ngValue]="status.statid" *ngFor="let status of statuslistdata">
              {{status.name}}
            </option>
          </select>
        </div>
        <div style="margin-left: 5px;">
          <select type="text" class="form-select form-control" [(ngModel)]="dateid" (change)="searchAsset()">
            <option value="0">Filter by Date</option>
            <option value="1">Today</option>
            <option value="2">Yesterday</option>
            <option value="3">This Week</option>
            <option value="4">Last Week</option>
            <option value="5">This Month</option>
            <option value="6">Last Month</option>
            <option value="7">This Year</option>
            <option value="8">Last Year</option>
          </select>
        </div>
      </div>



    </div>
    <br>



    <table class="table table-hover">


      <thead class="table-title">
        <tr>
          <th>SerialNo</th>
          <th>UniqueID</th>
          <th>Branch</th>
          <th>Brand</th>
          <th>Type</th>
          <th>Quantity</th>
          <th>Specification</th>
          <th>Warranty</th>
          <th>Vendor</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>



      <tbody *ngIf="assetdata.length > 0">
        <tr
          *ngFor="let assetlist of assetdata | paginate: { itemsPerPage: pageSize, currentPage: PageNumber, totalItems: totalrecord};let i = index">
          <td>{{assetlist.SerialNo}}</td>
          <td>{{assetlist.Uid}}</td>
          <td>{{assetlist.Branches}}</td>
          <td>{{assetlist.Brand}}</td>
          <td>{{assetlist.TypeName}}</td>
          <td>{{assetlist.Nos}}</td>
          <td>{{assetlist.Specification}}</td>
          <td>{{assetlist.Warranty_Till}}</td>
          <td>{{assetlist.Vendors}}</td>
          <td>
            <c-badge *ngIf="assetlist.Status==1" color="info">
              {{assetlist.StatusName}}
            </c-badge>
            <c-badge *ngIf="assetlist.Status==2" color="success">
              {{assetlist.StatusName}}
            </c-badge>
            <c-badge *ngIf="assetlist.Status==3" color="secondary">
              {{assetlist.StatusName}}
            </c-badge>
            <c-badge *ngIf="assetlist.Status==4" color="danger">
              {{assetlist.StatusName}}
            </c-badge>
            <c-badge *ngIf="assetlist.Status==6" color="danger">
              {{assetlist.StatusName}}
            </c-badge>
            <c-badge *ngIf="assetlist.Status==7" color="warning">
              {{assetlist.StatusName}}
            </c-badge>
          </td>
          <td style="width: 8%;">
            <a href="javascript:void(0)" routerLink="/base/edit-asset/{{assetlist.Assetid}}" class="edit"
              title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="javascript:void(0)" (click)="deleteAsset(assetlist)" class="delete" title="Remove"><i
                class="fa-regular fa-trash-can"></i></a>
            <a href="javascript:void(0)" routerLink="/base/assetinfo/{{assetlist.Assetid}}" class="info" title="Info"><i
                class="fa-solid fa-eye"></i></a>
            <a href="javascript:void(0)" (click)="transferModal(assetlist)" class="secondary" title="Transfer"><i class="fa-solid fa-share-from-square"></i></a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="assetdata.length <= 0">
        <tr>
          <td colspan="100" class="text-center text-danger">No Match found</td>
        </tr>
      </tbody>

    </table>

    <div class="row">
      <div class="col-1" style="width: 6.6%;">
        <span class="form-group pull-left page-size form-inline"> Page Size &nbsp;
        </span>
      </div>
      <div class="col-1">
        <select id="ddlPageSize" class="form-control form-select control-color" [(ngModel)]="pageSize"
          (change)="changePageSize()">
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
      </div>

      <div *ngIf="assetdata.length > 0" class="col d-flex justify-content-end">
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
      </div>
      <div *ngIf="assetdata.length <= 0" class="col d-flex justify-content-end">
        <pagination-controls hidden (pageChange)="pageChangeEvent($event)"></pagination-controls>
      </div>
    </div>


  </div>
</div>




<!-- PopUp Form -->
<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleChange($event)">

  <c-modal-header>
    <h5 cModalTitle>Transfer Asset</h5>
  </c-modal-header>

  <form [formGroup]="assetForm" (ngSubmit)="transferAsset(assetid,branch,description)">

    <c-modal-body>

      <div class="form-outline mb-4">
        <label>Branch Name</label>
        <select type="text" class="form-control form-select" formControlName="branch"
          [ngClass]="{ 'has-error': submitted && f['branch'].errors }">
          <option value="">select Branch</option>
          <option [ngValue]="branches.branchid" *ngFor="let branches of branchlistdata">
            {{branches.name}}
          </option>
        </select>
        <div *ngIf="submitted && f['branch'].errors" class="has-error">
          <div *ngIf="f['branch'].errors['required']">Branch name is required!</div>
        </div>
      </div>

      <div class="form-outline mb-4">
        <label>Description</label>
        <textarea type="text" class="form-control" placeholder="Enter Description" formControlName="description"
          [ngClass]="{ 'has-error': submitted && f['description'].errors }"></textarea>
        <div *ngIf="submitted && f['description'].errors" class="has-error">
          <div *ngIf="f['description'].errors['required']">Description is required!</div>
        </div>
      </div>

    </c-modal-body>

    <c-modal-footer>
      <button type="submit" class="btn btn-primary btn-block" *ngIf="!submitbtn">Transfer</button>
      <button type="button" class="btn btn-secondary btn-block ms-2" (click)="toggleModal()">Close</button>
      <button class="btn btn-primary btn-block" *ngIf="submitbtn" [disabled]="submitbtn">
        <i class="fa-solid fa-spinner fa-spin"></i> Loading
      </button>
    </c-modal-footer>

  </form>

</c-modal>