    <div class="table-responsive shadow">
      <div class="table-wrapper">
          <div class="row">
  
            <div class="col input-group">
              <div>
                <button type="button" class="btn btn-outline-primary" routerLink="/base/add-asset"> <i class="fa-solid fa-plus"></i>&nbsp;<span>Add</span></button>
              </div>
              <div style="margin-left: 5px;">
                <input type="search" class="form-control" [(ngModel)]="Assets" (keyup)="searchAsset()" placeholder="Search">
              </div>
              <span class="input-group-append">
                <button type="button" class="btn btn-outline-info" (click)="searchAsset()" >
                  <i class="fas fa-search"></i>
                </button>
              </span>
              <div style="margin-left: 5px;">
                <select type="text" class="form-select form-control" [(ngModel)]="branchid" (change)="searchAsset()">
                  <option value="0">Filter by Branch</option>
                  <option [ngValue]="branches.branchid" *ngFor="let branches of branchlistdata">
                    {{branches.name}}
                  </option>
                </select>
              </div>
              <div style="margin-left: 5px;">
                <select type="text" class="form-select form-control" [(ngModel)]="typeid" (change)="searchAsset()">
                  <option value="0">Filter by Type</option>
                  <option [ngValue]="types.typeid" *ngFor="let types of typelistdata">
                    {{types.name}}
                  </option>
                </select>
              </div>
              <div style="margin-left: 5px;">
                <select type="text" class="form-select form-control" [(ngModel)]="vendorid" (change)="searchAsset()">
                  <option value="0">Filter by Vendor</option>
                  <option [ngValue]="vendors.vendorid" *ngFor="let vendors of vendorlistdata">
                    {{vendors.name}}
                  </option>
                </select>
              </div>
              <div style="margin-left: 5px;">
                <select type="text" class="form-select form-control" [(ngModel)]="dateid" (change)="searchAsset()">
                  <option value="0">Filter by Date</option>
                  <option value="1">Today</option>
                  <option value="2">Yesterday</option>
                  <option value="3">This Week</option>
                  <option value="4">Last Week</option>
                  <option value="5">This Month</option>
                  <option value="6">Last Month</option>
                  <option value="7">This Year</option>
                  <option value="8">Last Year</option>
                </select>
              </div>
            </div>
  
            
  
          </div>
          <br>
  
  
  
        <table class="table table-hover">
  
  
          <thead class="table-title">
            <tr>
              <th>SerialNo</th>
              <th>Branch</th>
              <th>Brand</th>
              <th>Type</th>
              <th>Quantity</th>
              <th>Specification</th>
              <th>CreatedAt</th>
              <th>Vendor</th>
              <th>Actions</th>
            </tr>
          </thead>
  
  
  
          <tbody *ngIf="assetdata.length > 0">
          <tr *ngFor="let assetlist of assetdata | paginate: { itemsPerPage: pageSize, currentPage: PageNumber, totalItems: totalrecord};let i = index">
            <td>{{assetlist.SerialNo}}</td>
            <td>{{assetlist.Branches}}</td>
            <td>{{assetlist.Brand}}</td>
            <td>{{assetlist.TypeName}}</td>
            <td>{{assetlist.Nos}}</td>
            <td>{{assetlist.Specification}}</td>
            <td>{{assetlist.Created_at | date}}</td>
            <td>{{assetlist.Vendors}}</td>
            <td>
              <a href="javascript:void(0)" routerLink="/base/edit-asset/{{assetlist.Assetid}}" class="edit" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="javascript:void(0)" (click)="deleteAsset(assetlist)" class="delete" title="Remove"><i class="fa-regular fa-trash-can"></i></a>
              <a href="javascript:void(0)" routerLink="/base/assetinfo/{{assetlist.Assetid}}" class="info" title="Info"><i class="fa-solid fa-eye"></i></a>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="assetdata.length <= 0">
            <tr>
              <td colspan="100" class="text-center text-danger">No Match found</td>
            </tr>
          </tbody>
  
        </table>
  
        <div class="row">
          <div class="col-1" style="width: 6.6%;">
            <span class="form-group pull-left page-size form-inline"> Page Size &nbsp;
            </span>
          </div>
          <div class="col-1">
            <select id="ddlPageSize" class="form-control form-select control-color" [(ngModel)]="pageSize"
              (change)="changePageSize()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>
    
          <div class="col d-flex justify-content-end">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
          </div>      
        </div>
  
  
  
  
      </div>
    </div>
