<div class="table-responsive">
      <div class="table-wrapper">
          <div class="row">
            
            <div class="col input-group">
              <div>
                <input type="search" class="form-control form-control-sm" [(ngModel)]="Departments" (keyup.enter)="searchDepartment()" placeholder="Search">
              </div>
              <span class="input-group-append">
                <button type="button" class="btn btn-outline-info btn-sm" (click)="searchDepartment()" >
                  <i class="fas fa-search"></i>
                </button>
              </span>
              <div style="margin-left: 5px;">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="toggleModal()"> <span>Add</span></button>
              </div>
            </div>
  
          </div>
          <br>
  
  
        <table class="table table-hover">
  
  
          <thead class="table-title">
            <tr>
              <!-- <th>No</th> -->
              <th>Name</th>
              <th style="text-align: end;">Actions</th>
            </tr>
          </thead>
  
  
  
          <tbody *ngIf="depdata.length > 0">
            <tr *ngFor="let deplist of depdata | paginate: { itemsPerPage: pageSize, currentPage: PageNumber, totalItems: totalrecord};let i = index">
              <!-- <td>{{deplist.Depid}}</td> -->
              <td>{{deplist.Name}}</td>
              <td style="text-align: end;">
                <a href="javascript:void(0)" (click)="companyModal(deplist)" class="edit"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="javascript:void(0)" (click)="deleteDepartment(deplist)" class="delete"><i class="fa-regular fa-trash-can"></i></a>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="depdata.length <= 0">
            <tr>
              <td colspan="100" class="text-center text-danger">No Match found</td>
            </tr>
          </tbody>
  
        </table>
  
        <div class="row">
          <div class="col-2">
            <span class="form-group pull-left page-size form-inline"> Page Size &nbsp;
                <select id="ddlPageSize" class="form-control control-color" [(ngModel)]="pageSize"
                    (change)="changePageSize()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </span>
          </div>
    
          <div class="col d-flex justify-content-end">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
          </div>      
        </div>
  
      </div>
    </div>



    <!-- PopUp Form -->
    <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleChange($event)">
      
      <c-modal-header>
        <h5 cModalTitle>{{frlable}} Company</h5>
      </c-modal-header>

      <form [formGroup]="departmentForm" (ngSubmit)="addDepartment()">

        <c-modal-body>
            <div class="form-outline mb-4">
                <label>Department Name</label>
                <input type="text" class="form-control" placeholder="Enter Department" formControlName="name"
                    [ngClass]="{ 'has-error': submitted && f['name'].errors }">
                <div *ngIf="submitted && f['name'].errors" class="has-error">
                    <div *ngIf="f['name'].errors['required']">Department name is required!</div>
                    <div *ngIf="f['name'].errors['pattern']">Please enter valid Department Name!!</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Add' && !submitbtn">{{frlable}}</button>
            <button type="submit" class="btn btn-primary btn-block" *ngIf="frlable=='Update' && !submitbtn">{{frlable}}</button>
            <button type="button" class="btn btn-secondary btn-block ms-2" (click)="toggleModal()">Close</button>
        </c-modal-body>
        
      </form>

    </c-modal>