<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav style="height: 50px; margin: auto" class="d-none d-lg-flex me-auto">
      <img src="./assets/images/logo-color.svg">
    </c-header-nav>

    <!-- <c-header-nav class="d-flex justify-content-center me-auto">
      <img src="./assets/images/logo-color.svg">
    </c-header-nav> -->

    <c-header-nav class="d-none d-lg-flex">
      <c-nav-item *ngIf="user==1">
        <ng-container *ngTemplateOutlet="notificationDropdown"></ng-container>
      </c-nav-item>
      <c-nav-item style="align-self: center;">
        {{firstname}} {{lastname}}
      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <h4>
      <c-breadcrumb-router></c-breadcrumb-router>
    </h4>
    </c-container>
</ng-container>
<!--</c-header>-->


<!-- user dropdown -->
<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="white"
        size="lg"
        color="info"
        status="success"
      >
      {{F}}{{L}}
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/base/profile" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="logOut()" cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          LogOut
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<!-- notification dropdown -->
<ng-template #notificationDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
    <a href="javascript:void(0)" class="nav-link nav-icon iconClass" >
          <i class="fa-solid fa-bell fa-xl"></i>
          <span *ngIf="totalnew>0" class="badge rounded-pill badge-notification bg-danger">{{totalnew}}</span>
          <span *ngIf="totalnew<=0" hidden class="badge rounded-pill badge-notification bg-danger">{{totalnew}}</span>
        </a>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto" style="background-color: aliceblue;">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Notification</h6>
      </li>
      <div *ngIf="notificationdata.length > 0">
        <li *ngFor="let notificationlist of notificationdata">
          <a href="javascript:void(0)" routerLink="/base/newrequests" cDropdownItem>
            <i class="fa-solid fa-user"></i>
            New Requested From {{notificationlist.username}}<br>
            {{notificationlist.created_at | date}}
          </a>
        </li>
      </div>
      <div *ngIf="notificationdata.length <= 0">
        <li class="text-center text-danger">
          No New Notification
        </li>
      </div>
    </ul>
  </c-dropdown>
</ng-template>