    <div class="table-responsive">
      <div class="table-wrapper">
          <div class="row">
            
            <div class="col input-group">
              <div>
                <input type="search" class="form-control form-control-sm" [(ngModel)]="Status" (keyup.enter)="searchStatus()" placeholder="Search">
              </div>
              <span class="input-group-append">
                <button type="button" class="btn btn-outline-info btn-sm" (click)="searchStatus()" >
                  <i class="fas fa-search"></i>
                </button>
              </span>
            </div>
  
          </div>
          <br>
  
  
  
        <table class="table table-hover">
  
  
          <thead class="table-title">
            <tr>
              <th>User</th>
              <th>Asset</th>
              <th>Request</th>
              <th>Created_at</th>
              <th>Status</th>
              <!-- <th>Actions</th> -->
            </tr>
          </thead>
  
  
  
          <tbody *ngIf="statusdata.length > 0">
          <tr *ngFor="let statuslist of statusdata | paginate: { itemsPerPage: pageSize, currentPage: PageNumber, totalItems: totalrecord};let i = index">
            <td>{{statuslist.UserName}}</td>
            <td>{{statuslist.Asset}}</td>
            <td>{{statuslist.Request}}</td>
            <td>{{statuslist.Created_at}}</td>
            <td>
              <c-badge *ngIf="statuslist.Status==1" color="info">
                {{statuslist.StatusNow}}
              </c-badge>
              <c-badge *ngIf="statuslist.Status==2" color="success">
                {{statuslist.StatusNow}}
              </c-badge>
              <c-badge *ngIf="statuslist.Status==3" color="secondary">
                {{statuslist.StatusNow}}
              </c-badge>
              <c-badge *ngIf="statuslist.Status==4" color="danger">
                {{statuslist.StatusNow}}
              </c-badge>
            </td>
            <!-- <td>
                <svg cIcon name = "cilPencil"></svg>
                <a href="#editEmployeeModal" class="info" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Info">&#8505;</i></a>  
                <svg cIcon name = "cilTrash"></svg>
                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Remove">&#xE872;</i></a>
            </td> -->
          </tr>
         </tbody>
         <tbody *ngIf="statusdata.length <= 0">
          <tr>
            <td colspan="100" class="text-center text-danger">No Match found</td>
          </tr>
        </tbody>
  
        </table>
  
        <div class="row">
          <div class="col-2">
            <span class="form-group pull-left page-size form-inline"> Page Size &nbsp;
                <select id="ddlPageSize" class="form-control control-color" [(ngModel)]="pageSize"
                    (change)="changePageSize()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </span>
          </div>
    
          <div class="col d-flex justify-content-end">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
          </div>      
        </div>
  
  
  
  
      </div>
    </div>