a {
    text-decoration: none;
}

a:hover>div>.success{
    color:#80D651;
    text-decoration: underline;
}
a:hover>div>.primary{
    color:#003cff;
    text-decoration: underline;
}
a:hover>div>.secondary{
    color:#969696;
    text-decoration: underline;
}
a:hover>div>.info{
    color:#58a6ff;
    text-decoration: underline;
}
a:hover>div>.danger{
    color:#d73814;
    text-decoration: underline;
}


.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-left-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-secondary {
    border-left-color: #969696;
}
.notice-primary {
    border-left-color: #003cff;
}
.notice-info {
    border-left-color: #58a6ff;
}
.notice-info>strong {
    color: #58a6ff;
}
.notice-warning {
    border-left-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-left-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.infotxt {
    color: #021b38;
}
.success {
    color: #80D651;
}
.secondary {
    color: #969696;
}
.primary {
    color: #003cff;
}
.info {
    color: #58a6ff;
}
.warning {
    color: #FEAF20;
}
.danger {
    color: #d73814;
}




.form-control:focus{
    box-shadow: 0 0 0 0.1rem rgb(213, 209, 255);
}


body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #62b6fc;
}
table.table td a.edit {
    color: #0040ff;
    padding-right: 10px;
}
table.table td a.delete {
    color: #ff1100;
    padding-right: 10px;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}