    <div class="table-responsive shadow">
      <div class="table-wrapper">
          <div class="row">
            <div class="col input-group">
              <div>
                <input type="search" class="form-control" [(ngModel)]="working" (keyup)="searchWorking()" placeholder="Search">
              </div>
              <span class="input-group-append">
                <button type="button" class="btn btn-outline-info" (click)="searchWorking()" >
                  <i class="fas fa-search"></i>
                </button>
              </span>
            </div>
          </div>
          <br>
  
  
  
        <table class="table table-hover">
  
  
          <thead class="table-title">
            <tr>
              <th>Branch</th>
              <th>Type</th>
              <th>WorkingAsset</th>
              <th>Status</th>
            </tr>
          </thead>
  
  
  
          <tbody *ngIf="workingdata.length > 0">
          <tr *ngFor="let workinglist of workingdata | paginate: { itemsPerPage: pageSize, currentPage: PageNumber, totalItems: totalrecord};let i = index">
            <td>{{workinglist.branch}}</td>
            <td>{{workinglist.type}}</td>
            <td>{{workinglist.workingassets}}</td>
            <td>
              <c-badge *ngIf="workinglist.status=='InUse'" color="success">
                {{workinglist.status}}
              </c-badge>
              <c-badge *ngIf="workinglist.status=='Spare'" color="secondary">
                {{workinglist.status}}
              </c-badge>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="workingdata.length <= 0">
            <tr>
              <td colspan="100" class="text-center text-danger">No Match found</td>
            </tr>
          </tbody>
  
        </table>
  
        <div class="row">
          <div class="col-1" style="width: 6.6%;">
            <span class="form-group pull-left page-size form-inline"> Page Size &nbsp;
            </span>
          </div>
          <div class="col-1">
            <select id="ddlPageSize" class="form-control form-select control-color" [(ngModel)]="pageSize"
              (change)="changePageSize()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>
    
          <div *ngIf="workingdata.length > 0" class="col d-flex justify-content-end">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
          </div>
          <div *ngIf="workingdata.length <= 0" class="col d-flex justify-content-end">
            <pagination-controls hidden (pageChange)="pageChangeEvent($event)"></pagination-controls>
          </div>
        </div>


      </div>
    </div>