<div class="col-xs-6">
  <!-- <svg cIcon name = "cilPlus"></svg> -->
  <a (click)="popupForm()" class="btn btn-success" data-toggle="modal"> <span>Add User Details</span></a>
  <!-- <svg cIcon name = "cilMinus"></svg> -->
  <!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><span>Delete</span></a>						 -->
</div>


<!-- <section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://www.aceinfoway.com/recruitment/images/ace-infoway-walk-in-logo.png" class="w-100"
            style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"><u><i>LogIn</i></u></h3>



            <form class="user px-md-2" id="TrainingTechnologyModal">



              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="Gmail" formControlName="email">
                  
              </div>




              <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                  
              </div>



              <div class="form-outline mb-4">
                <button class="px-4" color="primary" class="btn form-control gradient-custom-4 rounded submit px-3"><i
                    class="fas fa-save"></i>
                  Login</button>
              </div>


            </form>



            <div class="w-100 text-center mt-4 text">
              <p class="mb-0">Don't have an account ?</p>
              <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                Register
              </button>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="h-100 h-custom" style="background-color: #e6e6e6;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8">
        <div class="card rounded-3 d-flex justify-content-center col-xl-6" style="width: 700px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"><u><i>Please fill up your Details</i></u></h3>



            <form class="user px-md-2"> -->


              <!-- <div class="row">
                <div class="form-outline col-md-6 mb-4">
                  <input type="text" class="form-control" placeholder="First Name" formControlName="firstname"> -->
                    <!-- [ngClass]="{ 'has-error': submitted && f['username'].errors }">
                  <div *ngIf="submitted && f['username'].errors" class="has-error">
                    <div *ngIf="f['username'].errors['required']">User name is required!</div>
                  </div> -->
                <!-- </div> -->
  
  
  
                <!-- <div class="form-outline col-md-6 mb-4">
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname"> -->
                    <!-- [ngClass]="{ 'has-error': submitted && f['email'].errors }">
                  <div *ngIf="submitted && f['email'].errors" class="has-error">
                    <div *ngIf="f['email'].errors['required']">Email is required!</div>
                  </div> -->
                <!-- </div>
              </div> -->



              <!-- <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="Department" formControlName="department"> -->
                  <!-- [ngClass]="{ 'has-error': submitted && f['password'].errors }">
                <div *ngIf="submitted && f['password'].errors" class="has-error">
                  <div *ngIf="f['password'].errors['required']">Password is required!</div>
                </div> -->
              <!-- </div> -->



              <!-- <div class="row">
                <div class="form-outline col-md-4 mb-4">
                  <input type="password" class="form-control" placeholder="Branch" formControlName="branch"> -->
                    <!-- formControlName="confirmpassword"
                    [ngClass]="{ 'has-error': submitted && f['confirmpassword'].errors }">
                  <div *ngIf="submitted && f['confirmpassword'].errors" class="has-error">
                    <div *ngIf="f['confirmpassword'].errors['required']">Confirm Password is required!</div>
                  </div> -->
                <!-- </div> -->
  
  
  
                <!-- <div class="form-outline col-md-4 mb-4">
                  <input type="password" class="form-control" placeholder="Floor" formControlName="floor"> -->
                    <!-- formControlName="confirmpassword"
                    [ngClass]="{ 'has-error': submitted && f['confirmpassword'].errors }">
                  <div *ngIf="submitted && f['confirmpassword'].errors" class="has-error">
                    <div *ngIf="f['confirmpassword'].errors['required']">Confirm Password is required!</div>
                  </div> -->
                <!-- </div>
              </div> -->



              <!-- <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="Company" formControlName="company"> -->
                  <!-- [ngClass]="{ 'has-error': submitted && f['password'].errors }">
                <div *ngIf="submitted && f['password'].errors" class="has-error">
                  <div *ngIf="f['password'].errors['required']">Password is required!</div>
                </div> -->
              <!-- </div> -->




              <!-- <div class="form-outline mb-4">
                <button class="px-4" color="primary" class="btn form-control gradient-custom-4 rounded submit px-3"><i
                    class="fas fa-save"></i>
                  Register</button>
              </div>


            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->






<!-- <c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <app-docs-callout href="components/pagination" name="Pagination"></app-docs-callout>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Pagination</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          We use a large block of connected links for our pagination, making links hard to miss
          and easily scalable—all while providing large hit areas. Pagination is built with list
          HTML elements so screen readers can announce the number of available links. Use a
          wrapping <code>&lt;nav&gt;</code> element to identify it as a navigation section to
          screen readers and other assistive technologies.
        </p>
        <p class="text-medium-emphasis small">
          In addition, as pages likely have more than one such navigation section, it&#39;s
          advisable to provide a descriptive <code>aria-label</code> for the
          <code>&lt;nav&gt;</code> to reflect its purpose. For example, if the pagination
          component is used to navigate between a set of search results, an appropriate label
          could be <code>aria-label=&#34;Search results pages&#34;</code>.
        </p>
        <app-docs-example href="components/pagination">
          <c-pagination aria-label="Page navigation example">
            <c-page-item>
              <a cPageLink routerLink="./">Previous</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">1</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">2</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">3</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">Next</a>
            </c-page-item>
          </c-pagination>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Pagination</strong> <small>Working with icons</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Looking to use an icon or symbol in place of text for some pagination links? Be sure
          to provide proper screen reader support with <code>aria</code> attributes.
        </p>
        <app-docs-example href="components/pagination#working-with-icons">
          <c-pagination aria-label="Page navigation example">
            <c-page-item aria-label="Previous">
              <a cPageLink routerLink="./"><span aria-hidden="true">&laquo;</span></a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">1</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">2</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">1</a>
            </c-page-item>
            <c-page-item aria-label="Next">
              <a cPageLink routerLink="./"><span aria-hidden="true">&raquo;</span></a>
            </c-page-item>
          </c-pagination>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Pagination</strong> <small>Disabled and active states</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Pagination links are customizable for different circumstances. Use
          <code>disabled</code> for links that appear un-clickable and <code>.active</code> to
          indicate the current page.
        </p>
        <p class="text-medium-emphasis small">
          While the <code>disabled</code> prop uses <code>pointer-events: none</code> to
          <em>try</em> to disable the link functionality of <code>&lt;a&gt;</code>s, that CSS
          property is not yet standardized and doesn&#39;taccount for keyboard navigation. As
          such, we always add <code>tabindex=&#34;-1&#34;</code> on disabled links and use
          custom JavaScript to fully disable their functionality.
        </p>
        <app-docs-example href="components/pagination#disabled-and-active-states">
          <c-pagination aria-label="Page navigation example">
            <c-page-item [disabled]="true" aria-label="Previous">
              <a cPageLink routerLink="./"><span aria-hidden="true">&laquo;</span></a>
            </c-page-item>
            <c-page-item [active]="true">
              <a routerLink="./" cPageLink>1</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">2</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">3</a>
            </c-page-item>
            <c-page-item aria-label="Next">
              <a cPageLink routerLink="./"><span aria-hidden="true">&raquo;</span></a>
            </c-page-item>
          </c-pagination>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Pagination</strong> <small>Sizing</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Fancy larger or smaller pagination? Add <code>sizing=&#34;lg&#34;</code> or
          <code>sizing=&#34;sm&#34;</code> for additional sizes.
        </p>
        <app-docs-example href="components/pagination#sizing">
          <c-pagination aria-label="Page navigation example" size="lg">
            <c-page-item>
              <a cPageLink routerLink="./">Previous</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">1</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">2</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">3</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">Next</a>
            </c-page-item>
          </c-pagination>
        </app-docs-example>
        <app-docs-example href="components/pagination#sizing">
          <c-pagination aria-label="Page navigation example" size="sm">
            <c-page-item>
              <a cPageLink routerLink="./">Previous</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">1</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">2</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">3</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">Next</a>
            </c-page-item>
          </c-pagination>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Pagination</strong> <small>Alignment</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Change the alignment of pagination components with
          <a href="https://coreui.io/docs/utilities/flex/">flexbox utilities</a>.
        </p>
        <app-docs-example href="components/pagination#aligment">
          <c-pagination align="center" aria-label="Page navigation example">
            <c-page-item [disabled]="true">
              <a cPageLink routerLink="./">Previous</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">1</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">2</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">3</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">Next</a>
            </c-page-item>
          </c-pagination>
        </app-docs-example>
        <app-docs-example href="components/pagination#aligment">
          <c-pagination align="end" aria-label="Page navigation example">
            <c-page-item [disabled]="true">
              <a cPageLink routerLink="./">Previous</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">1</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">2</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">3</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink routerLink="./">Next</a>
            </c-page-item>
          </c-pagination>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->
